*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 100%;
    height: auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}