@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,900;1,300;1,400;1,600;1,700&display=swap');


footer{
    width: 100%;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: url(./assets/bg.png);
}

.text{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 61px;
}
.text p{
    font-weight: 400;
    font-size: 45px;
    line-height: 65px;
    letter-spacing: -0.035em;

    color: #424346;
}

.footerJs{
    width: 1139px;
    height: 217px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
   
}

.footerJs .yonalish{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.footerJs .yonalish p{
    font-weight: 400;
    font-size: 24px;
    line-height: 224.68%;
    /* or 54px */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.035em;

    color: #000000;
}
.footerJs .yonalish a{
    
    font-weight: 400;
    font-size: 20px;
    line-height: 224.68%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: -0.035em;

    color: #8A8A8A;
}
.botton{
    width: 1366px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}