.box{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.box>p{
    width: 485px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    padding-left: 100px;
    letter-spacing: 0.02em;
    color: #3A3A3A; 
}   
  