#section4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.s4-title{
    font-family: Federo;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.02em;
    color: #3A3A3A;
}
.carousel{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.carousel>figure{
    cursor: pointer;
}
.carousel>:nth-child(2){
    background-color: #FBF9F3;
    padding: 2%;
}